{% extends 'base.html.twig' %}

{% block body %}

    <h3>There are no products in this category!</h3>

    <footer>
<div class="pull-right">
    <a class="btn btn-default btn-xs" href="{{ path('shop_index') }}">back &raquo;</a>
</div>
    </footer>

{% endblock %}
